<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136344577216-ejbqqaqaiij7gbv6avor9ski4fp72hs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136344577216-ejbqqaqaiij7gbv6avor9ski4fp72hs0</string>
	<key>API_KEY</key>
	<string>AIzaSyAFfZJIrYxYaIbDhAs_sMQy-lekIut-Oyo</string>
	<key>GCM_SENDER_ID</key>
	<string>136344577216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-samplecode.Local-Guide</string>
	<key>PROJECT_ID</key>
	<string>local-guide-c7739</string>
	<key>STORAGE_BUCKET</key>
	<string>local-guide-c7739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136344577216:ios:44c5a5616079f8a3e77925</string>
</dict>
</plist>